.bs-callout.bs-callout-info{ id: "ticket-section-#{ticket.id}" }
  %h4
    #{ticket.created_at.strftime('%a, %u %b %Y %I:%M %p')}
  - if ticket.closed?
    .state-closed
      status:
      %span
        closed!
  %p
  = form_for(ticket, remote: true) do |f|
    .form-group
      = f.text_area :question, disabled: true, class: :text, rows: 7
      - unless ticket.closed?
        %br
        %input{ class: :edit_ticket_button, onclick: "Ticket.edit(#{ticket.id});return false;", type: :submit, value: 'Edit' }
        %input{ class: :update_ticket_button, onclick: "Ticket.update(#{ticket.id});return false;", type: :submit, value: 'Update' }
        %a{href: 'javascript:void(0)', type: :submit, class: :cancel_link, onclick: "Ticket.cancelEdit(#{ticket.id});"}
          Cancel
        %input{ class: :close_ticket_button, onclick: "Ticket.close(#{ticket.id});return false;", type: :submit, value: 'Close' }
  %br