.div{id: "ticket_#{ticket.id}"}
  .bs-callout.bs-callout-info
    %h4
      Message from #{ticket.customer_name} on #{format_time(ticket.created_at)}
    %p
      = ticket.question
    - ticket.answers.each do |answer|
      .bs-callout
        %h5
          Reply from #{answer.author} on #{format_time(answer.created_at)}
        %p
          = answer.text
    = form_for(ticket, action: :answer, remote: true, html: { class: 'ticket-answer' }) do |f|
      = text_area_tag :answer, '', { id: :answer, class: 'form-control', placeholder: 'Enter answer', rows: 7 }
    - if ticket.assigned?
      %input{ class: :answer_ticket_button, onclick: "Ticket.answer(#{ticket.id});return false;", type: :submit, value: 'Answer' }
      %input{ class: :send_ticket_button, onclick: "Ticket.sendAnswer(#{ticket.id});return false;", type: :submit, value: 'Send' }
      %a{href: 'javascript:void(0)', type: :submit, class: :cancel_link, onclick: "Ticket.cancelAnswer(#{ticket.id});"}
        Cancel
    - else
      %input{ class: :assign_ticket_button, onclick: "Ticket.assign(#{ticket.id});return false;", type: :submit, value: 'Assign To Me' }