.new-ticket-section
  .container
    .title
      %h5
        Ask questions.
    = form_for(@ticket, html: {class: :new_ticket, onsubmit: 'Spinner.show();'}) do |f|
      - if @ticket.errors.any?
        .bs-callout.bs-callout-danger
          - @ticket.errors.full_messages.each do |message|
            %p
              = message
      .form-group
        %label{for: 'customer_name'} Name:
        = f.text_field :customer_name, id: :customer_name, class: 'form-control', placeholder: 'Enter name', autofocus: true
      .form-group
        %label{for: 'customer_email'} Email:
        = f.text_field :customer_email, id: :customer_email, class: 'form-control', placeholder: 'Enter email', type: :email
      .form-group
        %label{for: 'subject'} Subject:
        = f.text_field :subject, id: :subject, class: 'form-control', placeholder: 'Enter subject'
      .form-group
        %label{for: 'question'} Questions?:
        = f.text_area :question, id: :question, class: 'form-control', placeholder: 'Enter question', rows: 10
      = f.submit 'Request', class: 'btn btn-default'